<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <label for="role">Role</label>
  <select id="role" name="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
    <option value="owner">Owner</option>
  </select>
  <button>Sign up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", async e => {
    e.preventDefault();

    // get values
    const email = form.email.value;
    const password = form.password.value;
    const name = form.name.value;
    const role = form.role.value;
    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ email, password, name, role }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
    } catch (err) {
      console.log(err);
    }
  });
</script>
